Repository aruzikulov/platform-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

#1288 Code review changes
  app/components/App.tsx
  app/index.tsx
  app/modules/init/reducer.spec.ts
  app/modules/sagas.ts
Due: tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

logs false errors as info
  app/modules/tx/transactions/sagas.ts
  app/modules/tx/validator/sagas.ts
Due: tslint --project . --format stylish --fix, prettier --write

#1594 Align NEU dashboard widget
  app/components/dashboard/my-portfolio/MyNeuWidget.module.scss
  app/components/dashboard/my-portfolio/MyNeuWidget.tsx
  app/components/dashboard/my-portfolio/MyPortfolioWidget.module.scss
  app/components/shared/Panel.module.scss
Due: tslint --project . --format stylish --fix, prettier --write, yarn sasslint

sets new backend hash
  e2e/setup-e2e.sh
Due: none

uses new calculateContribution return signature
  app/modules/investor-tickets/types.ts
  app/modules/investor-tickets/utils.ts
Due: tslint --project . --format stylish --fix, prettier --write

Reduce number of retries
  cypress/cypress-retries.js
Due: prettier --write

Add email validation
  app/components/shared/forms/form-field/FormConstantField.module.scss
  app/components/shared/forms/form-field/FormConstantField.tsx
  app/components/wallet-selector/light/LoginWithEmailLightWallet.tsx
  intl/locales/en-en.json
Due: tslint --project . --format stylish --fix, prettier --write, yarn sasslint

#1856 Eto visual fixes
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.module.scss
  app/components/eto/overview/EtoOverviewStatus/TagsWidget.tsx
  app/components/eto/shared/EtoTagWidget.tsx
  app/components/eto/shared/TagsEditor.tsx
  app/components/shared/Tabs.module.scss
  app/components/shared/Tag.module.scss
  app/components/shared/Tag.stories.tsx
  app/components/shared/Tag.tsx
  app/components/shared/forms/form-field/FormStyles.module.scss
  app/styles/elements/a.scss
  app/styles/tools/typography.scss
Due: tslint --project . --format stylish --fix, prettier --write, yarn sasslint

Increases docker timeout
  .circleci/config.yml
Due: none

Tests Timeout
  app/test-e2e/eto/InvestWithUpgradedWalletEurT.spec.e2e.ts
  app/test-e2e/utils/index.ts
Due: tslint --project . --format stylish --fix, prettier --write

#1865 Eto opportunities description `doNotSeparateThousands` from `Money` was removed as it's never used
  app/components/dashboard/eto-list/EtoList.module.scss
  app/components/dashboard/eto-list/EtoList.tsx
  app/components/eto/overview/EtoOverviewStatus/EtoOverviewStatus.tsx
  app/components/shared/Money.spec.tsx
  app/components/shared/Money.tsx
  app/components/shared/NumberFormat.tsx
  intl/locales/en-en.json
Due: tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write, yarn sasslint

Add LightWallet login stories
  app/components/wallet-selector/light/LoginLightWallet.stories.tsx
Due: tslint --project . --format stylish --fix, prettier --write

Fix lint
  intl/locales/en-en.json
Due: prettier --write

Fix icbm wallet download
  app/modules/icbm-wallet-balance-modal/sagas.ts
Due: tslint --project . --format stylish --fix, prettier --write

replaced settings with profile
  intl/locales/en-en.json
Due: prettier --write

#1865 Revert change in NumberFormat
  app/components/shared/NumberFormat.tsx
Due: tslint --project . --format stylish --fix, prettier --write

#1882 remove link from go-to-settings notification add translations to notifications
  app/components/eto/registration/pages/InvestmentTerms.tsx
  app/components/shared/notification-widget/Notification.spec.tsx
  app/components/shared/notification-widget/Notification.tsx
  app/modules/notifications/actions.ts
  app/modules/notifications/reducer.spec.ts
  app/modules/notifications/reducer.ts
  intl/locales/en-en.json
Due: tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

#1882 change wording
  app/modules/notifications/reducer.ts
  intl/locales/en-en.json
Due: tslint --project . --format stylish --fix, prettier --write

Update en-en.json
  intl/locales/en-en.json
Due: prettier --write

Removes bold From VerifyEmailWidget
  app/components/settings/verify-email/VerifyEmailWidget.tsx
Due: tslint --project . --format stylish --fix, prettier --write

Fix portfolio top spacing
  app/components/portfolio/PortfolioLayout.module.scss
  app/components/portfolio/PortfolioLayout.tsx
  app/components/shared/notification-widget/Notification.module.scss
  app/styles/config/spacings.scss
Due: tslint --project . --format stylish --fix, prettier --write, yarn sasslint

adds unique reference for euro transacions
  app/components/modals/tx-sender/investment-flow/BankTransfer.stories.tsx
  app/components/modals/tx-sender/investment-flow/BankTransferDetails.tsx
  app/components/modals/tx-sender/investment-flow/Investment.stories.tsx
  app/components/modals/tx-sender/investment-flow/InvestmentTypeSelector.stories.tsx
  app/components/modals/tx-sender/investment-flow/Success.stories.tsx
  app/components/modals/tx-sender/investment-flow/Summary.stories.tsx
  app/components/shared/InvestmentPreview.stories.tsx
  app/modules/investment-flow/__tests__/selectors.spec.ts
  app/modules/investment-flow/actions.ts
  app/modules/investment-flow/reducer.ts
  app/modules/investment-flow/selectors.ts
Due: tslint --project . --format stylish --fix, tslint --project . --format stylish --fix --config ./tslint.spec.json, prettier --write

Turn on source maps for styles
  webpack/webpack.config.dev.js
Due: prettier --write

Path conditions:
  tslint --project . --format stylish --fix: any of: app/**/*.{ts,tsx,js}
  tslint --project . --format stylish --fix --config ./tslint.spec.json: any of: app/**/*.spec.{ts,tsx}
  prettier --write: any of: **/*.{ts,tsx,js,json,md,gql}
  yarn sasslint: any of: **/*.{sass,scss,css}
